<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Radley" rel="stylesheet">
</head>
<body>
<div class="poem">
    <h1><%= poem.title %></h1>
    <% poem.poem.forEach((line) => { %>
        <p><%= line %><p>
        <% }) %>
</div>
<div>
    <form action="/" method="post">
        <label for="rhyme_scheme">Rhyme Scheme: </label>
        <input id="rhyme_scheme" type="text" name="rhyme_scheme" value=<%= rhymeScheme %> maxlength="50">
        <label for="line_length">Line Length: </label>
        <input id="line_length" type="number" name="line_length" value=<%= lineLength %> min="0" max="100">
        <input type="submit" value="Generate">
    </form>
</div>
</body>
</html>
