<!DOCTYPE html>
<html>
<meta name="viewport" content="width=500, initial-scale=1, maximum-scale=1">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Radley" rel="stylesheet">
    <link rel='icon' href='/images/quill-drawing-a-line.png'>
</head>
<body>
<h1 class="header">Sonneteer</h1>
<div class="controls">
    <form action="/" method="post">
        <label class="form_label" for="rhyme_scheme">Rhyme Scheme: </label>
        <input class="input_field" id="rhyme_scheme" type="text" name="rhyme_scheme" value=<%= rhymeScheme %> maxlength="50">
        <label class="form_label" for="line_length">Line Length: </label>
        <input class="input_field" id="line_length" type="number" name="line_length" value=<%= lineLength %> min="0" max="100">
        <input class="generate_button" type="submit" value="Generate">
    </form>
</div>
<div class="container">
    <div class="poem">
        <h1><%= poem.title %></h1>
        <% poem.poem.forEach((line) => { %>
            <p><%= line %><p>
            <% }) %>
    </div>
</div>
</body>
</html>
